<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!--指定日志输出格式-->
            <PatternLayout pattern="[%d{HH:mm:ss:SSS}][%p]- %l -%m%n"></PatternLayout>
        </Console>
        <RollingFile name="RollingFileInfo" fileName="D;/log/info.log"
        filePattern="D:/$${date:yyyy-MM}/info-%d{yyyy-MM-dd}-%i.log">
            <Filters>
                <ThresholdFilter level="INFO"></ThresholdFilter>
            </Filters>
            <PatternLayout pattern="[%d{HH:mm:ss:SSS}][%p]-%l-%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="all">
            <!--控制台输出-->
            <AppenderRef ref="Console"></AppenderRef>
            <AppenderRef ref="RollingFileInfo"/>
        </Root>
    </Loggers>
</Configuration>